.main{
    width: 100%;
    height: 100%;
    max-width: 350px;
    background-color: "#02202a8a";
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    overflow-y: auto;
}

.container{
    padding: 0 15px 0;
    color: #fff;
    max-width: 100%;
}

.text1{
    /* width: 100%; */
    display: flex;
    /* align-items: center; */
    gap: 5px;
    font-size: 12px;
    color: #fff;
}

.link1{
    text-decoration: none;
    color: cyan;
}
.socials{
    /* box-sizing: border-box; */
    display: flex;
}

.social{
    margin-left: 5px;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image1{
    width: 25px;
    height: auto;
}

.image2{
    width: 250px;
    height: auto;
    margin-top: 3px;
}

.image3{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.image4{
    width: 100%;
    height: 100%;
}

.collab{
    font-size: 14px;
}

.collab3{
    font-size: 12px;
    color: #fff;
}

.zoom{
    color: #29e057;
    text-decoration: none;
    font-size: 12px;
}

.read{
    font-size: 13px;
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

.phase{
    text-align: center;
    margin-top: 10px;
}

.links a{
    display: inline-block;
    margin-top: 8px;
}

.sec1{
    color: #ff95f5;
    text-decoration: none;
    
}

.text2{
    text-align: center;
}

.privacy1{
    text-align: center;
}

.privacy{
    /* color: #aaa; */
    color: #fff;
    /* text-decoration: none; */
    font-size: 13px;
}

@media(max-width: 768px){
    .collab{
        font-size: 15px;
    }
}

@media(max-width: 425px){
    .main{
        max-width: 380px;
    }

    .container{
        position: absolute;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        padding: 0 15px 0;
        max-width: 260px;
    }

    .text1{
        display: inline-block;
    }

    .sec1{
        font-size: 13px;
    }

    .socials{
        margin-top: 8px;
    }
}



